# --- Específico de Code::Blocks ---
*.layout     # Guarda la posición de las ventanas y archivos abiertos
*.depend     # Archivos de dependencia interna
*.workspace  # Solo si no quieres compartir el espacio de trabajo completo

# --- Resultados de Compilación ---
bin/         # Carpeta donde se guarda el ejecutable final
obj/         # Carpeta de archivos objeto (.o)

# --- Archivos temporales y de depuración ---
*.exe
*.out
*.app
